header{
    background-color: rgb(53, 52, 52);
    height: 75px;
    
    /* overflow: hidden; */
}
header nav a{
    color: aliceblue;
    text-align: center;
     float: left;
    padding: 20px 25px;
    font-size: 23px;
    text-decoration: none;
    
    

}
header nav a:hover{
    background-color: rgb(212, 25, 25);
}
header nav img{
    padding-left: 625px;
}

.container {
   display: flex;
   
}
.sec_part{
padding-left: 400px;
}
 
.cont{
    /* border width: 50px;  */
     
    text-align: center;
}

table{
    margin-top: 10px;
    width: 770px ;
    border: 5px solid rgb(167, 197, 119) ; 
    
    
    
}
.heading{
    color: rgb(151, 177, 104);
    font-size: 30px;
}
.head{

    border: 5px solid rgb(167, 197, 119) ;
    background-color: rgb(197, 216, 161);
    font-size: 20px;
    color: rgb(23, 22, 22);
}
.label{
    background-color:  rgb(197, 216, 161);;
    width: 200px; 
    display: block;
    text-align: right;
    
    
}

.in{
    /* width: 250px;*/
    width: 470px;
    display: block; 
    /* background-color: brown; */
}
.required{
    color: rgb(162, 27, 27);
}
.textarea{
    background-color:  rgb(197, 216, 161);
}
.tdphone{
    display: inline;
    width: auto;
}
.tdphon{
    background-color:  rgb(197, 216, 161);

}
.select{
    width: 400px;
    display: block;
    text-align: center;
    font-size:medium ;
}
.checkbox{
    text-align: center;
}
.button{
    text-align: center;
}


/* .tdphone input{
    width: 10px;
} */
/* .trphone{
height: auto;
} */
